@charset "UTF-8";
body {
    background-color: #b39db3;
}

/* .list {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 200px;
} */

.four {
  text-align: center;
  align-items: center;
}

.contact_img {
  width: 100%;
  height: 500px;
  padding-bottom: 60px;
}

.ct {
  margin-top: 80px;
  font-family: "Roboto Slab", serif;
  text-decoration: none;
  color: white;
  font-size: 50px;
  font-style: italic;
  margin: 35px;
}