@charset "UTF-8";
/* body {
    background-color: #e0d8cc;
}

.list {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 100px;
}
 */
body {
  background-color: #e0d8cc;
}

h1 {
  text-align: center;
  margin-bottom: 0px;
  margin-top: 0px;
}

.lists {
  text-align: center;
  font-family: "Pretendard-Thin";
  display: block;
  text-align: center;
  font-weight: 400;
  font-family: "Pretendard-Thin";
  font-size: 18px;
  line-height: 1.5;
  font-style: italic;
}

.list_img {
  width: 300px;
  height: 300px;
  display: block;
  margin: 7vh 5vh;
  margin-bottom: 25px;
  margin-top: 20px;
}

